[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
requests = "*"
ipython = "*"

[packages]
twine = "*"
sanic = "*"
pydantic = "*"

[requires]
python_version = "3.7"
